.widget
  .widget-title
    i(class='fa fa-coffee')= ' ' + __('Baidu推广')
  br

  script.
      var cpro_id = "u3182116";
  script(type='text/javascript', src="http://cpro.baidustatic.com/cpro/ui/c.js")
