.widget
  .widget-title
    i(class='fa fa-dollar')= ' ' + __('Alipay、请作者喝茶')

  //- img(src="/img/weixin.png",width="180px",style="margin-top:15px")
  img(src="/img/zfb-ds.png",width="180px",style="margin-top:15px")
