<br>

#footer= '© '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  网站备案号:皖ICP备15008495号-1

//- #footer-ad
//-   script.
//-     /*20:5 创建于 2017/10/26*/
//-     var cpro_id = "u3120795";
//-   script(type='text/javascript', src="http://cpro.baidustatic.com/cpro/ui/c.js")

//- <br>
//- <br>
